<h1>Hi {{title}}</h1>
<p>{{30+9}}</p>
<p>{{"Hello " + "World"}}</p>
<!-- map the navs list -->
<ul>
    <li *ngFor="let user of users">
        {{ user.name }} (ID: {{ user.id }})
      </li>
</ul>

{{'hello'.toUpperCase()}}
<!-- login component selector  selector: 'app-login', -->
<app-login/>

<!-- signup selector change to: 'signup' -->
 <signup/>

 <profile/>

 <button (click) ="handleButtonClick()"> click me</button>
    <br/> <br/>
<label for="box1"> Input Change </label>
 <input type="text" #box1 placeholder="Enter your name"  (change) ="box1.value"/>
 <p>The input is {{box1.value}}</p>

 <br/> <br/>
 <label for="box2"> Input Keyup </label>
 <input type="text" #box2 placeholder="Enter your name"  (keyup) ="box2.value"/>
 <p>The input is {{box2.value}}</p>

 <br/> <br/>
 <label for="box3"> Input Button Click </label>
 <input type="text" #box3 placeholder="Enter your name" />
    <button (click) ="box3.value = ''"> Clear </button>
    <button (click) ="getInput(box3.value)"> Submit </button>
 <p>The input is {{pContent}}</p>


 <br/> <br/>
 <label for="box4"> Input Event </label>
 <input type="text" #box4 placeholder="Enter your name"/>
    <button (click) ="getInput(box4.value)"> Submit </button>
 <p>The input is {{pContent}}</p>

<!-- app.component.html -->
<label for="">Input Event (with $event)</label>
<input type="text" (input)="onInput($event)" placeholder="Enter your name" />
<p>The input is: {{ pContent2 }}</p>


<h2>Counter</h2>

<p>Count: {{ count }}</p>

<button (click)="increment()">Increment +</button>
<button (click)="decrement()">Decrement -</button>


<p>Count: {{ count }}</p>
<button (click)="counter('add')">Increment</button>
<button (click)="counter('minus')">Decrement</button>